<div class="header">
    <h1 id="title">Stockit</h1>
    <h3 id="tagline"><em>Keep track of your stuff.</em></h3>
    <h4 id="home-text">Whether it's collectibles, food rations, makeup, hobby supplies, or clothes--know exactly what you've got at all times!</h4>
    <%= image_tag("squirrel.png", id:"img", :alt => "squirrel", title:"pngtree.com") %>
</div>

<div class="home-actions">
    <div><i class="fas fa-plus fa-2x" style="color:red;" id="search-img"></i><span class="action-text"><b>Add</b>, count, photograh, and categorize items</span></div>
    <br>
    <div><i class="fas fa-search fa-2x" style="color:red;" id="search-img"></i><span class="action-text"><b>Search</b> for existing items</span></div>
    <br>
    <div><i class="fas fa-pen fa-2x" style="color:red;"></i><span class="action-text"><b>Edit</b> items to keep your inventory up-to-date</span></div>
</div>