<div class="header">
    <h1 id="title">Stockit</h1>
</div>
<div>
    <h3 id="tagline">Keep track of your supplies</h3>
</div>
<br>
<div>
<%= image_tag("squirrel.png", id:"img", :alt => "squirrel", title:"pngtree.com") %>
</div>


