<div class="header">
    <h1 id="title">Stockit</h1>
</div>
<div>
    <h2 id="tagline"><em>Keep track of your stuff</em></h2>
</div>
<div>
    <%= image_tag("squirrel.png", id:"img", :alt => "squirrel", title:"pngtree.com") %>
</div>



