// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.action-text {
  margin-left: 15px;
}

.home-actions {
  margin-top: 30px;
}

#home-text {
  width: 60%;
  display: inline-block;
}

#img {
  display: inline-block;
}
